<%= form_for Link.new do |f| %>
  <%= f.label :url %>
  <%= f.url_field :url %>
  <%= f.submit %>
<% end %>

<ul>
  <% @links.each do |link| %>
    <li>
      <%= link_to link.url, link.url %>
      <%= link_to "×", link, method: :delete %>
    </li>
  <% end %>
</ul>
